@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Jost');

:root {
    --bwhite: #f4f7fc;
    --dblue: #0a0a1a;
    --lblue: #69b3d1;
}

* {
   box-sizing: border-box;
}

body {
    background-color: rgb(3, 0, 5);
    font-family: 'Jost', sans-serif;
}

/* NAVIGATION BAR */
nav {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--dblue);
    justify-items: auto;
}

#site_name {
    padding: 0px;
    margin:auto;
}

#site_name a {
    text-decoration: none;
    font-family: 'Germania One', cursive;
    color: var(--lblue);
    font-size: 4vw;
    letter-spacing: 1px;
    white-space: nowrap;
    justify-self: center;
}

#search_bar {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right: 25px;
}

#searchBar {
    width: 100%;
    height: 35px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 20px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

#searchBar:focus, #searchBar:hover {
    outline: none;
    border-color: var(--lblue);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.searchIcon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    color: var(--darkb);
    width: 1rem;
    height: 1rem;
}

.searchIcon:hover{
    cursor: pointer;
}

#nav_icons {
    display: flex;
    align-items: center;
    font-size: 2.2vw;
    justify-content: space-evenly;
    color: var(--bwhite);
    margin-bottom: 10px;
}

#nav_icons i:hover {
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    #site_name a {
        font-size: 10vw;
    }
    #nav_icons {
        font-size: 3.5vw;
    }
}

/* HEADER */
header {
    height: max-content;
    text-align: center;
    display: flex;
}

@media screen and (min-width: 1000px) {
    header {
        height: 40vw;
    }
    #main_video {
        width: 100%; 
        height: 40vw;
        object-fit: cover;
        position: relative;
        align-self: normal;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
}

#main_video {
    position: relative;
    object-fit: cover;
    align-self: center;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1;
}

#main_text {
    position: absolute;
    align-self: center;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    color: var(--bwhite);
}

#main_text h1{
    font-size: 6vw;
    font-family: 'Germania One', cursive;
}
#main_text p{
    font-size: 3vw;
    white-space: nowrap;
}

@media screen and (max-width: 600px) {
    #main_text p {
        display: none;
    } 
    #main_text h1 {
        font-size: 9vw;
    }
    .dropdown-content {
        display: block;
    }
}

/* CATAGORIES */
#catagory {
    background-color: var(--dblue);
    margin: 0px;
    height: fit-content;
    text-align: center;
    padding: 10px;
}

.catagory_dropdown {
    margin: 20px auto;
    position: relative;
    width: 95%;
}

.dropdown-btn {
    background: #1d1f24;
    font-size: 20px;
    width: 100%;
    border: none;
    padding: 15px;
    display: flex;
    align-items: center;
    border-radius: 0.5em;
    cursor: pointer;
    justify-content:center;
    color: var(--bwhite);
}
  
  .dropdown-content {
    list-style-type: none;
    position: relative;
    width: 100%;
    padding-left:0px;
}

  .dropdown-content li {
    background: #2f3238;
    border-radius: 0.5em;   
    padding: 0.7em 0.1em;
    margin: 0.2em 0; 
    
  
}

  .dropdown-content li:hover {
    background: #1d1f24;
}

  .dropdown-content li a {
    padding: 0.7em 0.5em;
    color: #fff;
    margin: 0.4em 0;
    text-decoration: none;
}
@media screen and (min-width: 600px) {
    .dropdown-content {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-around;
        flex-wrap: wrap;
    }
    .dropdown-content li {
        width: 33%;
    }
}



