* {
    color: white;
}

.product {
    border: 2px solid white;
    margin: 2vw;
    padding: 1vw;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    column-gap: 10px;
    column-width: 400px;
    max-width: 70vw;
}

.product-thumbnail {
    height: 300px;
    width: 400px;
}

.product-thumbnail > .product-img {
    width: 400px;
    height: 300px;
  object-fit: contain;
}

.product-name {
    font-size: 3.5vw;
}

.product-price::before {
    content: "$"
}

.product-rating::after {
    content: "/5"
}